<h4>Student deleted successfully!</h4>
<br/>
<br/>
<%= link_to " ► Generate TC",
        {:controller => "student", :action => "generate_tc_pdf", :id => @student.admission_no},:target => '_blank', :class=> 'user_button' %>