<div class="label-field-pair">
    <div class="label-container"><label>Student Category:</label></div>
   <div class="input-container"> <%= select :finance_fee_particulars,:student_category_id, @student_categories.map { |c| [c.name, c.id] },
      {:prompt => 'Select Category'} %></div></div>